<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Victor</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.16/css/bulma.min.css" rel="stylesheet">
    <style>
        .passed{
            background-color: #97cd76;
            background-color: rgba(151,205, 118, 0.25);
        }
        .failed, .undefined{
            background-color: #ed6c63;
            background-color: rgba(237, 108, 99, 0.25);
        }
    </style>
</head>
<body>
    <div id="app"></div>
    <script src="/static/js/victor.min.js"></script>
</body>
</html>