<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Victor</title>
    <link href="{{ url_for('bower.static', filename='bulma/css/bulma.min.css') }}" rel="stylesheet">
    <style>
        .passed{
            background-color: #97cd76;
        }
        .failed{
            background-color: #ed6c63;
        }
        .skipped{
            background-color: #fce473;
        }
    </style>
</head>
<body class="content">
    {% for feature in features %}
        <h1>{{ feature.name }}</h1>
        <p>{% for desc_line in feature.description %}
            {{ desc_line }}<br>
        {%  endfor %}</p>
        <h2>Scenarios</h2>
        {% for scenario in feature.scenarios %}
            <h3>{{ scenario.name }}</h3>
            <ul>
                {% for step in scenario.steps %}
                <li class="{{ step.status }}"><strong>{{ step.keyword }}</strong> {{ step.name }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}
    <script src="{{ url_for('bower.static', filename='react/react.js') }}"></script>
</body>
</html>