<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Victor</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/cover.css">
</head>
<body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Victor</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="https://github.com/login/oauth/authorize?scope=user:email&client_id={{ github_client_id }}">Sign In</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Living Documentation as a service</h1>
            <p class="lead">Bridge the communication gap with Victor and GitHub.</p>
            <p class="lead">
              <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id={{ github_client_id }}" class="btn btn-lg btn-success">Sign in with Github</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>By <a href="https://twitter.com/colinwren">@colinwren</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>